@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    font-family: 'Nunito Sans', sans-serif;
  }
  html,
  body {
    max-width: 100vw;
    scroll-behavior: smooth;
  }
  h1 {
    @apply text-[40px] laptop:text-[32px] m-tablet:text-[28px] mb-6 font-bold;
  }
  h2 {
    @apply text-[36px] laptop:text-[28px] m-tablet:text-[24px] mb-6 font-bold;
  }
  h3 {
    @apply text-[28px] laptop:text-[24px] m-tablet:text-[20px] mb-4 tablet:mb-2 font-bold;
  }
  p, span, label, ul {
    @apply text-[20px] laptop:text-[16px] font-medium;
  }
  p {
    @apply text-justify whitespace-break-spaces;
  }
  ul {
    @apply pl-6 space-y-1.5 pb-2;
  }
  button {
    @apply text-[18px] laptop:text-[14px];
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  section {
    @apply shadow-2xl;
  }
}

@layer components {
  /* Main container */
  .page-container {
    @apply w-full h-full max-h-[100dvh];
  }
  /*Content container */
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-2 desktop:px-14 laptop:px-12 tablet:px-4;
  }
  .background-image {
    @apply absolute -z-10 w-full h-full;
  }
  .main-button {
    @apply bg-light-shade text-dark-shade font-bold py-2.5 px-4 rounded shadow-xl;
  }
  /* nav */

  .black_btn {
    @apply rounded-full border bg-dark-shade py-1.5 px-5 text-light-shade transition-all hover:bg-light-shade hover:text-dark-shade text-center text-sm flex items-center justify-center;
  }
  .outline_btn {
    @apply rounded-full border  py-1.5 px-5 text-dark-accent transition-all hover:bg-light-shade hover:text-dark-shade text-center text-sm  flex items-center justify-center;
  }


  .disc ul{
    @apply list-disc;
  }
  .disc p{
    @apply mb-2;
  }
}

@layer utilities {
  .absolute-centerY{
    @apply top-1/2 transform -translate-y-1/2;
  }
  .absolute-centerX{
    @apply right-1/2 transform translate-x-1/2;
  }
  .absolute-centerXY{
    @apply transform right-1/2 top-1/2 -translate-y-1/2 translate-x-1/2;
  }
}

/* nav */
.logo_text {
  @apply text-lg tracking-wide;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

body:after{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: #e5e5f7;
  opacity: 0.2;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 15px ), repeating-linear-gradient( #00761855, #007618 );
}

/* banner */
#PlantsListingPageBannerSection h1{
  @apply text-[44px] laptop:text-[36px] m-tablet:text-[32px] mb-6 font-bold;
}
#PlantsListingPageBannerSection p{
  @apply text-[24px] laptop:text-[20px];
}
.banner {
  background: url('/assets/images/garden.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 150px 0;
}

.content {
  background: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
}
/* LOADER */
.loaderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(105, 169, 73);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #dfc transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

